* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.TaskBar{
    border: 0px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    background-color: rgb(167, 208, 255);
    height: 40px;
}
.Task1 , .Task2 , .Task3{
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
    margin-top: 6px;
    font-size: 0.6cm;
    font-family: monospace;
    color: rgb(0, 0, 0);
}
.FirstLogoInPart1{
    width: 230px;
    margin-top: -20px;
    margin-left: 20px;
}
.FirstInputInPart1{
    position: absolute;
    width: 540px;
    border-radius: 10px;
    height: 40px;
    font-size: 0.7cm;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 80px;
}
.FirstButtonInPart1{
    width: 40px;
    position: absolute;
    height: 40px;
    margin-top: 60px;
    margin-left: 580.45px;
    color: ghostwhite;
    border-radius: 7px ;
}
.SecondLogoInPart1{
    width: 40px;
    position: absolute;
    margin-top: 60px;
    margin-left: 580.45px;
}
.TaskPart1Contain{
    /* border: 1px solid; */
    display: flex;
    width: 550px;
    font-size: 0.5cm;
    list-style: none;
    justify-content: space-around;
    position: absolute;
    margin-top: -110px;
    margin-left: 325px;
}
/* .CrushImg{
    position: absolute;
    height: 40px;
} */
.Task1InPart1 , .Task2InPart1 , .Task3InPart1 , .Task4InPart1 , .Task5InPart1 , .Task6InPart1 , .Task7InPart1{
    text-decoration : none;
    color: rgb(65, 206, 136);
}
.Part2InFirstScreen{
    /* border: 1px solid; */
    display: flex;
    height: 60px;
    font-size: 0.49cm;
    font-weight: 700;
    position: absolute;
    width: 1232px;
    justify-content: space-around;
    margin-top: -41px;
    background-color: rgb(167, 208, 255);
}
.Task1InPart2 , .Task2InPart2 ,.Task3InPart2 , .Task4InPart2 , .Task5InPart2 , .Task6InPart2 , .Task7InPart2 , .Task8InPart2 , .Task9InPart2 , .Task10InPart2 , .Task11InPart2 , .Task12InPart2{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    color: black;
}
.ThanhSanPham1InPart3{
    margin-top: 40px;
    margin-left: 60px;
}
.FirstHrInPart3{
    width: 212px;
    margin-left: 60px;
}
.Input1InForm{
    position: absolute;
    margin-left: 950px;
    width: 200px;
    height: 35px;
    margin-top: -170px;
    font-size: 0.45cm;
    border-radius: 10px;
}
.Input2InForm{
    position: absolute;
    margin-left: 950px;
    width: 200px;
    height: 35px;
    margin-top: -130px;
    font-size: 0.45cm;
    border-radius: 10px;
}
.SecondButtonInPart1Screen1{
    position: absolute;
    margin-left: 1009px;
    width: 81px;
    height: 25px;
    margin-top: -87px;
}
.BalanceTask{
    width: 1130px;
    display: flex;
    justify-content: space-around;
}
.ThanhSanPham2InPart3{
    position: absolute;
    margin-top: -30px;
    margin-left: 310px;
}
.SecondHrInPart3{
    position: absolute;
    margin-left: 310px;
    width: 920px;
    margin-top: -2.5px;
}
.DanhMucSanPhamInPart3{
    border: 1px solid grey;
    width: 212px;
    margin-left: 60px;
    margin-top: 15px;
    height: 295px;
}
.Task1InPart3 , .Task2InPart3 , .Task3InPart3 ,.Task4InPart3 ,.Task5InPart3 ,.Task6InPart3 ,.Task7InPart3{
    list-style: none;
    text-decoration: none;
    font-size: 0.6cm;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(97, 97, 97);
    padding-left: 10px;
    height: 40px;
    padding-top: 5px;
}
.Task2InPart3 , .Task3InPart3 ,.Task4InPart3 ,.Task5InPart3 ,.Task6InPart3 ,.Task7InPart3{
    margin-top: 2px;
}
a{
    text-decoration: none;
}