* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.TaskBar{
    border: 0px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    background-color: rgb(167, 208, 255);
    height: 40px;
}
.Task1 , .Task2 , .Task3{
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
    margin-top: 8px;
    font-size: 0.6cm;
    color: rgb(0, 0, 0);
    font-family: 'Public Sans', sans-serif;
}
.FirstLogoInPart1{
    width: 230px;
    margin-top: -20px;
    margin-left: 20px;
}
.FirstInputInPart1{
    position: absolute;
    width: 540px;
    border-radius: 10px;
    height: 40px;
    font-size: 0.7cm;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 137px;
}
.FirstButtonInPart1{
    width: 40px;
    position: absolute;
    height: 40px;
    margin-top: 60px;
    margin-left: 637.45px;
    color: ghostwhite;
    border-radius: 7px ;
}
.SecondLogoInPart1{
    width: 40px;
    position: absolute;
    margin-top: 60px;
    margin-left: 637.45px;
}
.TaskPart1Contain{
    /* border: 1px solid; */
    display: flex;
    width: 550px;
    font-size: 0.5cm;
    list-style: none;
    justify-content: space-around;
    position: absolute;
    margin-top: -110px;
    margin-left: 383px;
    font-family: 'Fira Sans', sans-serif;
}
/* .CrushImg{
    position: absolute;
    height: 40px;
} */
.Task1InPart1 , .Task2InPart1 , .Task3InPart1 , .Task4InPart1 , .Task5InPart1 , .Task6InPart1 , .Task7InPart1{
    text-decoration : none;
    color: rgb(65, 206, 136);
}
.Part2InFirstScreen{
    /* border: 1px solid; */
    display: flex;
    height: 60px;
    font-size: 0.49cm;
    font-weight: 700;
    position: absolute;
    width: 1350px;
    justify-content: space-around;
    margin-top: -41px;
    background-color: rgb(167, 208, 255);
}
.Task1InPart2 , .Task2InPart2 ,.Task3InPart2 , .Task4InPart2 , .Task5InPart2 , .Task6InPart2 , .Task7InPart2 , .Task8InPart2 , .Task9InPart2 , .Task10InPart2 , .Task11InPart2 , .Task12InPart2{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
}
.ThanhSanPham1InPart3{
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Fira Sans', sans-serif;
}
.FirstHrInPart3{
    width: 245px;
    margin-left: 25px;
}
.Input1InForm{
    position: absolute;
    margin-left: 1100px;
    width: 200px;
    height: 35px;
    margin-top: -170px;
    font-size: 0.45cm;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
}
.Input2InForm{
    position: absolute;
    margin-left: 1100px;
    width: 200px;
    height: 35px;
    margin-top: -130px;
    font-size: 0.45cm;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
}
.SecondButtonInPart1Screen1{
    position: absolute;
    margin-left: 1157px;
    width: 81px;
    height: 25px;
    margin-top: -87px;
}
.BalanceTask{
    width: 1330px;
    display: flex;
    justify-content: space-around;
}
.ThanhSanPham2InPart3{
    position: absolute;
    margin-top: -30px;
    margin-left: 310px;
    font-family: 'Fira Sans', sans-serif;
}
.SecondHrInPart3{
    position: absolute;
    margin-left: 310px;
    width: 988px;
    margin-top: -2.5px;
}
.DanhMucSanPhamInPart3{
    border: 1px solid grey;
    width: 245px;
    margin-left: 25px;
    margin-top: 15px;
    height: 295px;
}
.Task1InPart3 , .Task2InPart3 , .Task3InPart3 ,.Task4InPart3 ,.Task5InPart3 ,.Task6InPart3 ,.Task7InPart3{
    list-style: none;   
    text-decoration: none;
    font-size: 0.6cm;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(97, 97, 97);
    padding-left: 10px;
    height: 40px;
    padding-top: 5px;
    font-family: 'Fira Sans', sans-serif;

}
.Task2InPart3 , .Task3InPart3 ,.Task4InPart3 ,.Task5InPart3 ,.Task6InPart3 ,.Task7InPart3{
    margin-top: 2px;
}
a{
    text-decoration: none;
}
.AnhSanPham1TrongHn1 , .AnhSanPham2TrongHn1 , .AnhSanPham3TrongHn1 , .AnhSanPham4TrongHn1{
    width: 200px;
}
.HangNgangSanPham1{
    /* border: 1px solid; */
    width: 1050px;
    position: absolute;
    margin-top: -295px;
    margin-left: 279px;
    justify-content: space-around;
    display: flex;
}
.HangNgangThongTinSanPham1{
    width: 900px;
    position: absolute;
    margin-top: -95px;
    margin-left: 310px;
    font-family: 'Archivo Narrow', sans-serif;
}
.H41InSp{
    position: absolute;
    margin-top: 50px;
    font-size: 0.5cm;
}
.P1InSp{
    /* border: 1px solid; */
    width: 200px;
    position: absolute;
    font-size: 0.49cm;
}
.P2InSp{
    position: absolute;
    margin-left: 264px;
    width: 200px;
    font-size: 0.49cm;
}
.H42InSp{
    position: absolute;
    margin-left: 265px;
    margin-top: 50px;
    font-size: 0.5cm;
}
.P3InSp{
    position: absolute;
    margin-left: 525px;
    width: 200px;
    font-size: 0.49cm;
}
.H43InSp{
    position: absolute;
    margin-left: 525px;
    margin-top: 50px;
    font-size: 0.5cm;
}
.P4InSp{
    margin-left: 788px;
    font-size: 0.49cm;
    width: 210px;
}
.H44InSp{
    margin-left: 788px;
    font-size: 0.5cm;
    margin-top: 7px;
}
.AnhSanPham1TrongHn2 , .AnhSanPham2TrongHn2 , .AnhSanPham3TrongHn2 , .AnhSanPham4TrongHn2{
    width: 200px;
}
.HangNgangSanPham2{
    /* border: 1px solid; */
    width: 1050px;
    position: absolute;
    margin-top: 35px;
    margin-left: 279px;
    justify-content: space-around;
    display: flex;
}
.HangNgangThongTinSanPham2{
    width: 900px;
    position: absolute;
    margin-top: 235px;
    margin-left: 310px;
    font-family: 'Archivo Narrow', sans-serif;
}
.AnhSanPham1TrongHn3 , .AnhSanPham2TrongHn3 , .AnhSanPham3TrongHn3 , .AnhSanPham4TrongHn3{
    width: 200px;
}
.HangNgangSanPham3{
    /* border: 1px solid; */
    width: 1050px;
    position: absolute;
    margin-top: 360px;
    margin-left: 279px;
    justify-content: space-around;
    display: flex;
}
.HangNgangThongTinSanPham3{
    width: 900px;
    position: absolute;
    margin-top: 560px;
    margin-left: 310px;
    font-family: 'Archivo Narrow', sans-serif;
}
.AnhSanPham1TrongHn4 , .AnhSanPham2TrongHn4 , .AnhSanPham3TrongHn4 , .AnhSanPham4TrongHn4{
    width: 200px;
}
.HangNgangSanPham4{
    /* border: 1px solid; */
    width: 1050px;
    position: absolute;
    margin-top: 687px;
    margin-left: 279px;
    justify-content: space-around;
    display: flex;
}
.HangNgangThongTinSanPham4{
    width: 900px;
    position: absolute;
    margin-top: 890px;
    margin-left: 310px;
    font-family: 'Archivo Narrow', sans-serif;
}
.ButtonToAnotherPage{
    border: 1px solid;
    position: absolute;
    margin-left: 545px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage2{
    border: 1px solid;
    position: absolute;
    margin-left: 580px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage3{
    border: 1px solid;
    position: absolute;
    margin-left: 615px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage4{
    border: 1px solid;
    position: absolute;
    margin-left: 650px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage5{
    border: 1px solid;
    position: absolute;
    margin-left: 685px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage6{
    border: 1px solid;
    position: absolute;
    margin-left: 720px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage7{
    border: 1px solid;
    position: absolute;
    margin-left: 755px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.ButtonToAnotherPage8{
    border: 1px solid;
    position: absolute;
    margin-left: 790px;
    width: 30px;
    text-align: center;
    font-size: 0.7cm;
    color: black;
    margin-top: 1050px;
}
.AddToCartButton1{
    border: 1px solid black;
    width: 200px;
    position: absolute;
    height: 30px;
    color: black;
    font-size: 0.6cm;
    text-align: center;
    margin-top: 7px;
}
.AddToCartButton2{
    border: 1px solid black;
    width: 200px;
    position: absolute;
    height: 30px;
    color: black;
    font-size: 0.6cm;
    text-align: center;
    margin-left: 262px;
    margin-top: 7px;
}
.AddToCartButton3{
    border: 1px solid black;
    width: 200px;
    position: absolute;
    height: 30px;
    color: black;
    font-size: 0.6cm;
    text-align: center;
    margin-left: 525px;
    margin-top: 7px;
}
.AddToCartButton4{
    border: 1px solid black;
    width: 200px;
    position: absolute;
    height: 30px;
    color: black;
    font-size: 0.6cm;
    text-align: center;
    margin-left: 788px;
    margin-top: 7px;
}