* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.Tuyendungimg{
    width: 1350px;
    height: 685px;
}
.H2InTdButton{
    position: absolute;
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 412px;
    font-size: 1cm;
    margin-left: 370px;
    /* border: 1px solid; */
    width: 654px;
    text-align: center;
    color: whitesmoke
}
.BackToHomepageButton{
    position: absolute;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 15px;
    font-size: 0.7cm;
    margin-top: 11px;
    color: black;
}
.ImgOfHeThongButton{
    height: 700px;
    width: 805px;
}
.H1InHTCH{
    position: absolute;
    margin-left: 800px;
    font-size: 2.5cm;
    /* border: 1px solid; */
    width: 570px;
    font-family: 'Archivo Narrow', sans-serif;
}
.HTHCButtonBTH{
    position: absolute;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    /* margin-left: px; */
    font-size: 0.7cm;
    margin-top: 11px;
    color: black;
    margin-top: 628px;
    margin-left: 310px;
}
.InformationPaper{
    height: 700px;
    margin-left: 430px;
}
.H21InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 512px;
    /* font-size: 0.48cm; */
    margin-top: 111px;
}
.H22InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 618px;
    /* font-size: 0.48cm; */
    margin-top: 170px;
}
.H23InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 610px;
    /* font-size: 0.48cm; */
    margin-top: 322px;
}
.H24InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 654px;
    /* font-size: 0.48cm; */
    margin-top: 415px;
    font-size: 0.6cm;
}
.H25InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 493px;
    font-size: 0.5cm;
    margin-top: 555px;
}
.H26InAs{
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    margin-left: 800px;
    /* font-size: 0.5cm; */
    margin-top: 483px;
}
.H27InAs{
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 700px;
    /* font-size: 0.5cm; */
    margin-top: 520px;
}
.H28InAs{
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 700px;
    /* font-size: 0.5cm; */
    margin-top: 560px;
}
.BackToHomepageButton2{
        position: absolute;
        text-decoration: none;
        font-family: 'Fira Sans', sans-serif;
        margin-left: -490px;
        font-size: 0.7cm;
        /* margin-top: px; */
        color: black;
}
